.wrapper{
  display: flex;
  justify-content: center;
}


.form{
  text-align: center;
  padding: 5px;
}

.form input {
  font-size: 16px;
  margin-top: 5px;
}

.form button {
  font-size: 18px;
  margin-left: 10px;
  border-radius: 5px;
}

.list{
  text-align: center;
}